/* Base Styles */
.about-hero {
  background: url('https://mojo.generalmills.com/api/public/content/fYX6Lw1vQ0qhBLaxWAVpCA_webp_base.webp?v=fe9d2734&t=e724eca7b3c24a8aaa6e089ed9e611fd');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 
}
.about-us-paragraph{
  color: black;
  padding: 0 48px;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 75px;
  font-family: 'Lato', sans-serif;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero-overlay h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

.hero-overlay p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
}

.about-details {
  padding: 40px;
  text-align: center;
}

.about-details h2 {
  font-family: 'Pacifico', cursive;
  color: #bb377d;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.info-card {
  background-color: #eb55a5a6;
  padding: 32px;
  border-radius: 8px;
  border: 1px solid #bb377d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 100px;
}

.info-card img {
  width: 150px;
  margin-bottom: 20px;
  height: 120px;
  border-radius: 6px;
  border: 1px solid #bb377d;
}

.info-card h3 {
  font-size: 1.5rem;
  color: #bb377d;
  color: white;
  font-weight: bolder;
}

.info-card p {
  font-size: 1.1rem;
  color: white;
  padding: 0 20px;
  line-height: 24px;
}

.contact-button-container {
  margin-top: 40px;
}

.open-modal-button {
  background-color: #bb377d;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-modal-button:hover {
  background-color: #f8b500;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal Styles remain similar */
