body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.cart {
    font-family: 'Lato', sans-serif;
    padding: 20px;
    background-color: aliceblue; 
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 60%;
}

.cart h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.cart p {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cart-item-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 15px;
}

.cart-item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.remove-btn {
    background-color: transparent;
    border: none;
    color: #f8b500;
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.remove-btn:hover {
    color: #bb377d;
}

.order-btn {
    background-color: #f8b500;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

.order-btn:hover {
    background-color: #bb377d;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .cart h2 {
        font-size: 1.8rem;
    }

    .cart p {
        font-size: 1rem;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item-image {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .order-btn {
        padding: 12px 25px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .cart h2 {
        font-size: 1.6rem;
    }

    .cart p {
        font-size: 0.9rem;
    }

    .cart-item {
        padding: 10px;
    }

    .cart-item-image {
        width: 40px;
        height: 40px;
    }

    .order-btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
