/* Header.css */
.header {
  background: linear-gradient(145deg, #fbd3e9, #bb377d);
  padding: 20px;
  border-bottom: 5px solid #f8b500;
  transition: background 0.3s, border-bottom 0.3s;
}

.header.light {
  background: linear-gradient(145deg, #fbd3e9, #bb377d);
}

.header.dark {
  background: linear-gradient(145deg, #333333, #555555);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  text-decoration: none;
}

.company-name {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
}

.navigation .list {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navigation .list li {
  display: flex;
  align-items: center;
}

.list a {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
  transition: background 0.3s ease;
}

.list a:hover {
  background: #f8b500;
  color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.theme-toggle {
  display: flex;
  align-items: center;
}

.theme-toggle span {
  font-size: 24px;
  margin: 0 8px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .company-name {
    font-size: 2rem;
  }

  .list a {
    padding: 8px 12px;
    font-size: 0.9rem;
  }

  .theme-toggle span {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .company-name {
    font-size: 1.8rem;
  }

  .list a {
    padding: 7px 10px;
    font-size: 0.85rem;
  }

  .theme-toggle span {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: row;
    gap: 15px;
  }
  .company-name {
    font-size: 1.6rem;
  }

  .list {
    flex-direction: row;
  }

  .list a {
    padding: 3px 5px;
    font-size: 0.7rem;
  }

  .theme-toggle span {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .company-name {
    font-size: 1.4rem;
  }

  .list {
    gap: 6px;
  }

  .list a {
    padding: 2px 3px;
    font-size: 0.75rem;
  }

  .theme-toggle span {
    font-size: 14px;
  }
}
