/* Main Section */
main {
    font-family: 'Lato', sans-serif;
    padding: 20px;
  }
  
  /* Hero Section */
  .hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(145deg, #fbd3e9, #bb377d);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero .btn {
    background-color: #f8b500;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius:  40px 0px 40px 0px;
    transition: background-color 0.3s ease;
  }
  
  .hero .btn:hover {
    background-color: #bb377d;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Cake Catalog Section */
  .cake-catalog {
    text-align: center;
  }
  
  .cake-catalog h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Cake Listings */
  .cake-listing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .cake {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .cake img {
    width: 100%;
    height: 18rem;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .cake h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .cake p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .cake button {
    background-color: #f8b500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius:  0px 30px 0px 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cake button:hover {
    background-color: #bb377d; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
  
    .hero .btn {
      padding: 12px 25px;
      font-size: 1rem;
    }
  
    .cake-catalog h2 {
      font-size: 1.8rem;
    }
  
    .cake {
      padding: 15px;
    }
  
    .cake h3 {
      font-size: 1.3rem;
    }
  
    .cake p {
      font-size: 0.9rem;
    }
  
    .cake button {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero h1 {
      font-size: 1.8rem;
    }
  
    .hero p {
      font-size: 0.9rem;
    }
  
    .hero .btn {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  
    .cake-catalog h2 {
      font-size: 1.6rem;
    }
  
    .cake {
      padding: 10px;
    }
  
    .cake h3 {
      font-size: 1.2rem;
    }
  
    .cake p {
      font-size: 0.8rem;
    }
  
    .cake button {
      padding: 6px 14px;
      font-size: 0.8rem;
    }
  }
  