/* App.css */
*{
    margin:0;
    padding:0;

}
.App.light {
    /* Light theme styles */
    background-color: white;
    color: black;
  }
  
  .App.dark {
    /* Dark theme styles */
    background-color: black;
    color: white;
}
  